[user]
	name = Eric Schmitt
	email = ericschmitt1@gmail.com
[alias]
  d = diff
  ds = diff --staged
  l = log
  s = status -s -b
  c = commit -v
  co = checkout
  bam = branch --merged origin/master
  a = add -u
  aa = add -A
  ap = add -u -p
[github]
	user = eschmitt
